
.profile {
    grid-area: c; 
    background-color: red;
}


.avatar {
    position: absolute;
    top: 30%;
    left: 30%;
/*background-color: red;*/
}

.userPhoto {
     width: 150px;
    height: 150px;
}