.formControl.error input,
.formControl.error textarea 
    {
     border: solid blueviolet 5px;       
        }
        
.formControl.error span 
    {
     color: blue;       
        }
        
.formSummaryError {
border: solid red 1px ;
padding: 5px;
color: red;
        }
